* {
  margin: 0;
  padding: 10;
  font-family: 'Segoe UI', sans-serif;
}
h1
h2
h3
h4
h5
h6 {
  font-weight: bold;
}

body {
  
  background-color: #f0f0eb;
}

.navbar {
  background-color: #f8dcdc; /* soft pink from your image */
}

.nav-link {
  color: #333; /* adjust link color */
}

.nav-link:hover {
  color: #000; /* darker on hover */
}





.cover {
  background-color:cadetblue;
  color: white;
  padding: 60px 40px;
  position: relative;
  
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 30px;
}

.info-card{
  background-image: url(../images/cloud2.webp);
}
.about-title {
      font-weight: 800;
    }
    .about-role {
      color: #e91e63; 
      font-weight: 700;
    }

#projects {
  padding: 80px 20px;
  background-color: #fff;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
}

.projects-container h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project-card h3 {
  margin-top: 15px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.project-card p {
  margin: 10px 0 15px;
  color: #555;
}

.project-card a {
  display: inline-block;
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
}
.progress-circle {
      width: 190px;
      height: 190px;
      border-radius: 50%;
      background: conic-gradient(#ff80b3 var(--percentage), #442233 var(--percentage));
      display: flex;
      align-items: center;
      justify-content: center;
      color: #d0cece;
      font-weight: bold;
      font-size: 1.0 rem;
      margin: 0 auto 10px;
    }

    .skill-text {
      text-align: center;
      font-size: 28px;
    }



.contact-section {
      background-color:honeydew;
      padding: 30px 30px;
      border-radius: 8px;
    }